.stApp {
    background-color: #141517;
    color: #a5abaf;
}

img[data-testid="stSidebarLogo"], img[data-testid="stHeaderLogo"] {
        height: 3.5rem; 
        width: auto;
    }

hr {
    margin: 1em 0px !important;
}

[data-testid="stToolbar"], 
[data-testid="stSidebar"],
[data-testid="stMetric"] {
        background-color: #1f1f24 !important;
}

[data-testid="stMetric"] {
    border: 1px solid #1f1f24;
}

[data-testid="stForm"] {
    border: 1px solid #141517;
}

[data-testid= "stBaseButton-secondaryFormSubmit"] {
    background-color: #01497c;
    border: none;
}

[data-testid= "stBaseButton-secondaryFormSubmit"]:hover {
    background-color: #013a63;
}